h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("/Users/antonsholom/Documents/2_IT_PROJECTS/MY_project/Codecademy/Dasmoto's Arts & Crafts/resources/images/pattern.jpeg");
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h2.brushes {
    background-color: mediumspringgreen;
}
h2.frames {
    background-color: lightcoral;
}
h2.paint {
    background-color: skyblue;
}

span.blue_price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
